<%= form_with(model: passage) do |form| %>
  <% if passage.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(passage.errors.count, "error") %> prohibited this passage from being saved:</h2>

      <ul>
        <% passage.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

    <%= form.hidden_field :piece_id %>

  <div>
    <%= form.label :endbar, style: "display: block" %>
    <%= form.text_field :endbar %>
  </div>

  <div>
    <%= form.label :beginbar, style: "display: block" %>
    <%= form.text_field :beginbar %>
  </div>
  <div>
    <%= form.label :passagetype_id, style: "display: block" %>
    <%= form.select :passagetype_id, [""]+Passagetype.all.collect{|g|[g.title, g.id]} %>
  </div>

  <div>
    <%= form.label :myscore, "photo d'une partition de sevcik où il y a un texte comme (\"practice bar by bar\") et qui va rentrer dans la description du passage", style: "display: block" %>
    <%= form.file_field :myscore %>
  </div>
  <%= form.fields_for :different_signature do |fact| %>
<div>
    <%= fact.label :mytime, "4/4, 4/8" %>
    <%= fact.text_field :mytime %>
</div>
<div>
    <%= fact.label :mykey, "cis minor, a major, g minor, e minor, etc." %>
    <%= fact.text_field :mykey %>
</div>
  <% end %>


  <div>
    <%= form.submit %>
  </div>
<% end %>
