<div id="<%= dom_id passage %>">
  <p>
    <strong>Description:</strong>
    <%= passage.description %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= passage.title %>
  </p>

  <p>
    <strong>Piece:</strong>
    <%= passage.piece_id %>
  </p>

  <p>
    <strong>Endbar:</strong>
    <%= passage.endbar %>
  </p>

  <p>
    <strong>Beginbar:</strong>
    <%= passage.beginbar %>
  </p>

  <p>
    <strong>Myscore:</strong>
    <%= passage.myscore %>
  </p>

</div>
