<div id="<%= dom_id passage %>">
  <p>
    <strong>

    <%= passage.title %>
de
    <%= passage.piece.name %>
</strong>
  </p>
  <p>
    <%= link_to "back to the score", passage.piece %>
    <strong>Description:</strong>
    <%= passage.description %>
  </p>



  <p>
    <strong>Beginbar:</strong>
    <%= passage.beginbar %>
  </p>

  <p>
    <strong>Endbar:</strong>
    <%= passage.endbar %>
  </p>



  <p>
    <strong>Photo of Myscore:</strong>
<br>
    <img src="/uploads/<%= passage.myscore %>" />
  </p>

</div>
