<p style="color: green"><%= notice %></p>

<%= render @passage %>

<div>
  <%= link_to "Edit this passage", edit_passage_path(@passage) %> |
  <%= link_to "Back to passages", passages_path %>

  <%= button_to "Destroy this passage", @passage, method: :delete %>
</div>
